<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="{tpl_base}css/email.css" />
	</head>
	<body>
		<div class="main">
			<table class="header">
			<tr>
				<td class="logo">
					<a title="{site_name}" href="{site_url}">
						<img src="{tpl_base}img/logo.png" alt="" />
					</a>
				</td>
				<td class="site-name">
					{site_name}
				</td>
			</tr>
			</table>
			
			<div class="body">
				{content}
			</div>
			
			<div class="footer">
				{footer}
			</div>
		</div>
	</body>
</html>